
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


// Global Styles -----------------------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Open Sans;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Alegreya;
}

hr {
  border-top: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper-login {
  background-image: url('../images/coin-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: scroll;
}

.wrapper-main {
  //background-image: url('../images/table-background.png');
  background: rgba(0, 0, 0, .2);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: scroll;
}

.container-fluid {
  position: relative;
}

.children-container {
  min-height: 650px;
}

.dollar-sign {
  position: absolute;
  left: 2px;
  top: 8px;
}

//App Header Styles ----------------------------------------------------

.app-header {
  background-size: cover;
  h1 {
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
}

.app-login-header {
  background-size: cover;
  h1 {
    font-size: 80px;
    color: #09397A;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px white;
  }
}

//App Footer Styles ----------------------------------------------------

.app-footer {
  position: relative;
  bottom: 0px;
  .created-by {
    margin-left: 20px;
    font-size: 20px;
    color: white;
  }
  ul {
    margin-bottom: 0px;
  }
}

.social-media-links {
  display: inline-block;
  a {
    height: 30px;
    width: 30px;
    color: black;
  }
  i {
    height: 30px;
    width: 30px;
    color: black;
  }
}

//Nav Bar Styles ------------------------------------------------------

.nav-style {
  background-color: #09397A;
}

.navbar-container {
  padding: 0;
}

.nav-links {
  color: white;
  margin-left: 30px;
  font-size: 24px;
  text-align: center;
}

.navbar {
  border: none;
}

.navbar-nav {
  padding: 0;
}

.navbar-nav li {
  text-align: center;
  float: none;
}

.navbar-default .navbar-nav li a {
  color: white;
  display: block;
  text-align: center;
}

.navbar-default .navbar-nav li a:hover {
  color: white;
}

//Login Page Styles ---------------------------------------------------

.login-form-container {
  background-color: rgba(200, 200, 200, .7);
  height: 30%;
  position: relative;
  top: 230px;
  border-radius: 100px;
}

.login-form {
  margin-bottom: 0px;
}

.login-title {
  text-align: center;
  background-color: #09397A;
  color: white;
  margin: 0 0 10px 0;
}

.control-input {
  font-size: 18px;
}

.control-label {
  font-size: 18px;
  color: #09397A;
}

.remember-me {
  font-size: 18px;
  color: #09397A;
  font-weight: bold;
}

.or {
  font-size: 18px;
  color: #09397A;
  font-weight: bold;
  text-align: center;
}

.button-color {
  font-size: 18px;
  background-color: #09397A;
}

.signup-form-container {
  background-color: rgba(200, 200, 200, .7);
  position: relative;
  top: 210px;
  border-radius: 100px;
}

.signup-input {
  width: 100%;
}

.form-horizontal .checkbox {
  padding-top: 0px;
}

.flipper-container {
    position: relative;
    top: 3vh;
    left: 25vw;
    width:900px;
    height:900px;
    margin-right: 0 auto;
    display:block;
    perspective: none;

    span {
        color:white;
    }

    >div.flipper {
        float:left;
        width:100%;
        height:100%;
        position:relative;
        transform-style: preserve-3d;

        .front, .back {
            float:left;
            display:block;
            width:100%;
            height:100%;
            backface-visibility: hidden;
            position:absolute;
            top:0;
            left:0;
            transform-style: preserve-3d;
            -webkit-transition: -webkit-transform ease 1000ms;
            transition: transform ease 1000ms;
        }

        .front {
            z-index:2;
            background-image: url('../images/Quarter-front.png');
            background-size: cover;
            background-repeat: no-repeat;

            /* front tile styles go here! */
        }

        .back {
            background-image: url('../images/SC-quarter-back.png');
            background-size: cover;
            background-repeat: no-repeat;

            /* back tile styles go here! */
        }
    }
}

.flipper-container.horizontal {
    .front {
      transform: rotateY(0deg);
    }
    .back {
      transform: rotateY(-1260deg);
    }

    div.flipper.flipped {
        .front {
          transform: rotateY(1260deg);
        }
        .back {
          transform: rotateY(0deg);
        }
    }
}

.flipper-container.vertical {
    .front {
      transform: rotateX(0deg);
    }
    .back {
      transform: rotateX(-180deg);
    }

    div.flipper.flipped {
        .front {
          transform: rotateX(180deg);
        }
        .back {
          transform: rotateX(0deg);
        }
    }
}


//Signup Page Styles --------------------------------------------------



//Home Page Styles ----------------------------------------------------

.nav-sidebar {
  background-color: #09397A;
  color: white;
  height: 100vh;
  overflow: scroll;
}

.main-page-layout {
  padding: 0;
}

.main-page-heading {
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #09397A;
}

.s {
  text-transform: lowercase;
}

.actual-title {
  display: inline-block;
  position: relative;
  font-size: 30px;
  margin: 0;
  background-color: #09397A;
  color: white;
}

.actual-input {
  padding: 0px;
  margin-top: 16px;
  font-size: 18px;
}

.actual-expense-input {
  width: 90%;
  line-height: 30px;
  border-radius: 5px;
  font-size: 18px;
}

.actual-expense-box {
  height: 34px;
  width: 100%;
}

.actual-note {
  margin-top: 10px;
}

.add-view-buttons {
  margin-top: 10px;
  font-size: 18px;
}

//Create Budget Page Styles ------------------------------------------

.create-budget-container {
  margin-top: 60px;
}

.save-budget-button {
  text-align: center;
  margin-top: 30px;
  .save-button {
    width: 200px;
    font-size: 18px;
  }
}

.table-headings {
  margin-top: 10px;
}

.income-section {
  position: relative;
  .income-header{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin: 0;
    background-color: #09397A;
    color: white;
  }
}

.expense-section {
  position: relative;
  .expense-header{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin: 0;
    background-color: #09397A;
    color: white;
  }
}

.income-form {
  margin-top: 6px;
}

.expense-form {
  margin-top: 6px;
}

.delete-button {
  width: 36px;
  height: 36px;
  margin-left: 20%;
  font-size: 18px;
}

.input-header {
  font-size: 18px;
}

.input-field {
  line-height: 30px;
  width: 100%;
  border-radius: 5px;
}

//Budget Report Page Styles ------------------------------------------

//Goals Page Styles --------------------------------------------------

.goal-title{
  display: inline-block;
  position: relative;
  font-size: 30px;
  margin: 0;
  background-color: #09397A;
  color: white;
}

//Profile Page Styles ------------------------------------------------

.profile-form {
  margin: 0 10px;
}

.profile-input-group {
  width: 100%;
}

.profile-input {
  float: right;
  width: 80%;
}

.save-profile-button {
  text-align: center;
  margin-top: 30px;
  .save-button {
    width: 200px;
    font-size: 18px;
  }
}

.profile-picture-label,
.profile-picture-input {
  display: block;
}

.profile-picture-input {
  height: 150px;
  width: 200px;
  font-size: 18px;
}

.profile-picture-input::-webkit-input-placeholder {
text-align: center;
}

.profile-picture-input:-moz-placeholder { /* Firefox 18- */
text-align: center;
}

.profile-picture-input::-moz-placeholder {  /* Firefox 19+ */
text-align: center;
}

.profile-picture-input:-ms-input-placeholder {
text-align: center;
}


//Actual List Page Styles --------------------------------------------

.actual-list {
  margin-top: 12px;
  font-size: 18px;
}

th {
  font-size: 18px;
}

.return-home-button {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

@media(max-width: 750px) {
  .app-header {
    h1{
      font-size: 80px;
    }
  }
}
