
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Open Sans;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Alegreya;
}

.container-fluid {
  padding: 0px;
  position: relative;
}

.children-container {
  min-height: 675px;
}

.login-form-container {
  margin-top: 100px;
}

.signup-form-container {
  margin-top: 100px;
}

.app-header {
  height:230px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  text-align: center;
  h1 {
    font-size: 160px;
    margin-top: 0px;
    line-height: 230px;
    color: #241D69;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-weight: bold;
  }
}

.login-title {
  text-align: center;
}

.app-footer {
  height: 100px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  position: relative;
  bottom: 0px;
  left: 0px;
  .created-by {
    margin-left: 20px;
    line-height: 100px;
    font-size: 20px;
    color: #241D69;
    font-weight: bold;
  }
  ul{
    float: right;
    line-height: 100px;
  }
  .social-media-links {
    display: inline-block;
    a {
      height: 30px;
      width: 30px;
      color: white;
    }
    i {
      height: 30px;
      width: 30px;
      color: white;
    }
  }
}

.create-account-button {
  padding-left: 0;
}

.address-image-input {
  padding: 0;
}

.user-image {
  height: 100px;
  width: 100px;
  border: 1px solid #BABABA;
  color: #BABABA;
}

.create-budget-container {
  margin-top: 100px;
}

.income-section{
  position: relative;
  .income-header{
    position: absolute;
    font-size: 30px;
    margin: 0;
  }
}

@media(max-width: 750px) {
  .app-header {
    h1{
      font-size: 80px;
    }
  }
}
